/***** Diseño de Miguel Diaz*****/

.body {clear: both; margin: 0 auto; width: 1205px;}

#body header h1 {
	display: block;
	width: 1200px;
	text-align: left;
	color: #ffffff;
	font: bold 5.571em verdana, sans-serif;
	text-shadow: #02010a 2px 2px 2px;

/*
font-size: 6em;
	font-weight: bold;
		font: bold 36px verdana, sans-serif;
		text-shadow: rgb(0,0,150) 3px 3px 5px;
		line-height: 1.2;*/
}


/*
	Encabezado
*****************/
#banner {
	/*margin: 0 auto;
	padding: 0 0 0 0;
	background: #5b7989;
	text-align: left;*/
}

	/* Banner */
	#banner h1 {
		
		background: #5b7989;
		
		/*
		display: block;
		width: 1200px;
		margin: 0px auto;
		padding: 0 0 0 0px;
		text-align: left;
		color: #ffffff;
		font-size: 5.571em;
		font-weight: bold;
		cursor: pointer;
		font: bold 36px verdana, sans-serif;
		font: bold 5.571em verdana, sans-serif;
		text-shadow: #02010a 2px 2px 2px;
		font: bold 36px verdana, sans-serif;
		text-shadow: rgb(0,0,150) 3px 3px 5px;
		line-height: 1.2;*/
	}

	#banner h1 a:link, #banner h1 a:visited {
		/*display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 465px; */
	}
	#banner h1 a:hover, #banner h1 a:active {
		/*text-shadow: none; */
	}

	#banner h1 strong {
		/*font-size: 0.36em; font-weight: normal;*/
	}
