/*****      CSS Y DISEÑO RESPONSIVO       *****/
/***** Diseño de Miguel Angel Diaz Solana *****/

header, section, footer, aside, nav, article,
figure, figcaption, hgroup {
	display: block;
}

* {
    box-sizing: border-box;
}

body {
	align-items: center;
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
}

#contenido {
	text-align: center;
	min-width: 150px;
	max-width: 900px;
	margin-left: auto;
  	margin-right: auto;
}

header {
	width: 100%;
	margin: auto;
	display: flex;
	border: 10px solid gray;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	/*animation: ascenso 3s;*/
}

@-webkit-keyframes ascenso {
    0%{margin-top: 100%;}
    50%{margin-top: -3%;}
    100%{margin-top: 0;}
}

@-moz-keyframes ascenso{
  0%{margin-top: 100%;}
  50%{margin-top: -3%;}
  100%{margin-top: 0;}
} 

header #titulo {
	float: left;
	width: 100%;
	color: white;
	margin: auto;
	align-items: left;
	background-color: #5b7989;
	text-shadow: #02010a 2px 2px 2px;
}

header #menu {
	width: 100%;
	padding-right: 60px;
	text-align: right;
	padding-top: 25px;
}

.opcion {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	text-shadow: #02010a 2px 2px 2px;
}

.responsive {
    display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	align-items: center;
    width: 100%;
}

section #imagen_central {
	width: 100%;
	padding: 20px;
	margin-left: auto;
  	margin-right: auto;
    background-color: #82c3a6;
}

section .responsive #foto_izquierda {
	float: left;
	width: 100%;
	padding: 20px;
	border: 1px solid;
	margin-left: auto;
  	margin-right: auto;
    background-color: #d5c75f;
}

section .responsive #foto_derecha {
	width: 100%;
	float: right;
	padding: 20px;
	border: 1px solid;
	margin-left: auto;
  	margin-right: auto;
    background-color: #d5c75f;
}

section #imagen_central img {
    width: 65%;
    height: auto;
    box-shadow: 2px 2px 2px 2px #02010a;
  	-webkit-box-shadow: 2px 2px 2px #02010a;
  	-moz-box-shadow: 2px 2px 2px #02010a;
}

section .responsive #foto_izquierda img {
    width: 65%;
    height: auto;
    box-shadow: 2px 2px 2px 2px #02010a;
  	-webkit-box-shadow: 2px 2px 2px #02010a;
  	-moz-box-shadow: 2px 2px 2px #02010a;
}

section .responsive #foto_derecha img {
    width: 65%;
    height: auto;
    box-shadow: 2px 2px 2px 2px #02010a;
  	-webkit-box-shadow: 2px 2px 2px #02010a;
  	-moz-box-shadow: 2px 2px 2px #02010a;
}

section.responsive #foto_izquierda.desc {
    padding: 15px;
    text-align: center;
}

section.responsive #foto_derecha.desc {
    padding: 15px;
    text-align: center;
}

@media only screen and (min-width: 900px){
    section .responsive #foto_izquierda, 
    section .responsive #foto_derecha {
     	width: 50%; 
    }

@media only screen and (max-width: 899px){
	section .responsive #foto_izquierda, 
    section .responsive #foto_derecha {
        width: 100%;    
    }
}